*{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
   padding-top: 40px;
   font-size: x-large;
   text-align: center;
}
section{
    height: 350px;
    cursor: pointer;
    display: none;
    width:100%;
}

body {
    margin: 0;
    padding: 0;

}

.AboutMe{
    background-color: #EEE0B1;
}

.Skills{
    background-color:burlywood ;
}

.Projects{
    background-color: #E48F45;
}

.Testomonies{
    background-color: #b46a38;
}

.ContactMe{
background-color: #6B240C;
height: 75px;
}

#landing-page{
    font-size: xx-large;
    background-color: lemonchiffon;
    height: 100vh;
    padding: 50vh;
}
#coverwords:hover{
    color: darkred
}

.Heading{
    text-decoration: underline;
}

ul{
    list-style-type: none;
    padding:inherit;
}

i{
    color:lightblue;
}